<nav>
  <div class="nav-form">
    <p class="back-white"><strong><%= link_to "< Back", categories_path %></strong></p>
    <div class="new-group-nav">
      <h1>NEW MOVEMENT</h1>
      <% if user_signed_in? %>
        <ul>
          <li><%= link_to "Home", categories_path %></li>
          <li>    
            <%= link_to "Logout", destroy_user_session_path, data: { turbo_method: :delete } %>
          </li>
        </ul>
      <% end %>
    </div>
  </div>
</nav>
<div class="logo-container form-image">
<%= image_tag("logo.png") %>
</div>

<div class="form-container"> 
  <%= form_with(model: @movement, url: category_movements_path(@category)) do |form| %>
    <% if @movement.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(@movement.errors.count, "error") %> prohibited this payment from being saved:</h2>
        <ul>
          <% @movement.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  
  <div class="field width-100">
    <%= form.label :name, hidden: true %>
    <%= form.text_field :name, placeholder: 'Name', required: true %>
  </div>
  
  <div class="field width-100">
    <%= form.label :amoutn, hidden: true %>
    <%= form.number_field :amount, placeholder: 'Amount', required: true %>
  </div>
  
  <div class="selections">
    <%@categories.each do |category|%>
      <div class="selection">
        <%= category.name %>
        <%= check_box_tag "categories_ids[]", category.id, category.id == @category.id  %>
      </div>
    <%end%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

  <% end %>
</div>
