<%= render "shared/nav" %>
<div class="logo-container form-image">
  <img src="../../assets/logo.png">
</div>

<div class="form-container">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { data: { turbo: false} }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field width-100">
      <%= f.label :name, hidden: true %>
      <%= f.text_field :name, placeholder: 'Full name', autofocus: true, autocomplete: "name" %>
    </div>

    <div class="field width-100">
      <%= f.label :email, hidden: true %>
      <%= f.email_field :email, placeholder: 'Email', autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field width-100">
      <%= f.label :password, hidden: true %>
      <%= f.password_field :password, placeholder: 'Password (6 characters minimum)', autocomplete: "new-password" %>
    </div>

  <div class="field width-100">
    <%= f.label :password_confirmation, hidden: true %>
    <%= f.password_field :password_confirmation, placeholder: 'Re-write password', autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
