<%= render "shared/nav" %>
<div class="logo-container form-image">
  <img src="../../assets/logo.png">
</div>

<div class="form-container"> 
  <%= form_with model: @category do |form|%>
    <div class="field width-100">
      <%= form.label :name, hidden: true %>
      <%= form.text_field :name, placeholder: 'Category name', required: true%>
    </div>

    <div class="field width-100">
      <%= form.label :icon, hidden: true %>
      <%= form.text_field :icon, placeholder: 'Link to icon', required: true%>
    </div>

    <footer>
      <div class="actions">
        <%= form.submit%>
      </div>
    </footer>
  <%end%>
</div>
